@{
    ViewBag.Title = "";
}
<div style="width: 100%; min-height: 100vh; background-image: url(Content/Gfx/Logotype2.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position:center; margin: 0px auto; text-align: center; color: #ffffff;">
    <div class="container body-content">
        <div class="row">            
        </div>
    </div>
</div>